/* Default Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    --color-theme: #7251B5;
}

/* General Styles */
body {
    background-color: #c9c9c9;
    font-family: 'Sora', sans-serif;
}

/* Navbar Styles */
#navbar {
    background-color: #ffffff;
    padding: 5px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* height: 70px; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adding shadow to the bottom */
}

.lgsec a{
    display: flex;
    align-items: center;
}

.lgsec h1 {
    margin-left: 10px;
    color: #724FFF;
}

.navmenu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 70%;
    justify-content: space-between;
}

.searchbar {
    display: flex;
    align-items: center;
    width: 70%; 
}

/* Searchbar input field */
.searchbar input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #F0F0F0;
    width: 400px;
}

.searchbar input:focus {
    outline: none;
}

.searchbar button {
    padding: 10px;
    background-color: #724FFF;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

/* Department button Style */
#deptbtn .dropdown-btn {
    padding: 10px 25px;
    background-color: #707070;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: fit-content; /* set width of the department button */
}

.dropdown-btn:focus {
    outline: none;
}

/* Giving parent element position to make dropdown absolute */
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    
    position: absolute;
    background-color: #f9f9f9;
    width: fit-content;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgab(0, 0, 0, 0.2);
    z-index: 1;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
}

.user-section .dropdown-content {
    left: -100%;
}

/* Text alignment of dropdown links to center */
.dropdown-content a {
    color: #724FFF;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: #DDD;
}

.dropdown:hover .dropdown-content,
.user-section:hover .dropdown-content {
    display: block;
}

.user-dropdown-btn {
    border: none;
    background-color: transparent;
}

.user-dropdown-btn img {
    height: 32px;
    border-radius: 50px;
}

/* hero-section */
.hero-section {
    padding: 30px 0px;
}

.hero-section h1 {
    color: #724FFF;
    font-size: 32;
    width: fit-content;
    margin: auto;
}

.hero-section p {
    color: #AE9CD1;
    font-size: 20px;
    width: 80%;
    margin: 10px auto;
    text-align: justify;
}

/* Button Styles */
.buttons-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    margin: 10px auto;
}

.btngroup {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

/* First Button - Degree Cycle Dropdown */
#yearbtn,
#addfilebtn,
#dwnsyllabus {
    padding: 10px 20px;
    margin: 10px;
    background-color: #fff;
    color: #66BAA7;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  #yearbtn:focus,
  #addfilebtn:focus,
  #dwnsyllabus:focus {
    outline: none;
  }
  
  #yearbtn:hover,
  #addfilebtn:hover,
  #dwnsyllabus:hover {
    background-color: #66BAA7;
    color: #fff;
  }
  
  #addfilebtn {
    margin-left: 20px;
  }
  
  /* Dropdown Styles */
  .dropdown {
    position: relative;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 100%;
    left: 50%;
    border-radius: 5px;
  }
  
  /* Update the text alignment to center */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Third Button - Download Syllabus Button (Positioned on the right) */
  #dwnsyllabus {
    margin-left: auto;
  }

.pdf-files {
    height: 660px;
    width: 80%;
    margin:50px auto;
    border-radius: 30px;
    background: #FFF;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

/* faq & footer - section Styles */
  #faq{
    background-color: var(--color-theme);
    color: #fff;
    padding: 10px 60px;

}

#faq h1{
    padding: 25px 0px;
    min-width: 30%;
}

#faq .qna .questions{
    min-width: 200px;
    width: 30%;
    margin: 10px;
}

#faq .qna .questions h2{
    padding: 10px 0px;
}

#faq .qna{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#footer{
    background-color: var(--color-theme);
    padding: 20px 60px 5px;
}

#footer #insta{
    height: 40px;
}

#footer .social{
    margin: 0px auto;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
}

#footer .social img{
    height: 30px;
    cursor: pointer;
}

#footer p{
    font-size: 16px;
    width: fit-content;
    text-align: center;
    margin: auto;
    color: #fff;
    font-weight: 100;
    letter-spacing: 2%;
}

@media(max-width: 1100px) {
    #searchbarInput{
        width: 300px;
    }
}